DATABASE_URL=postgresql://postgres:<yourpassword>localhost:5432/kobo
ENVIRONMENT=development
FIREBASE_WEB_API_KEY=API_KEY
FIREBASE_CREDENTIALS_PATH=firebase-credentials.json
AWS_ACCESS_KEY_ID=access_key
AWS_SECRET_ACCESS_KEY=secret_key
AWS_REGION=region
S3_BUCKET_NAME=s3_bucket_name
